<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 10px 0;
        display: block;
      }
    </style>

  </head>
  <body>
    <div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png"/>
  <span>Hello, {{name}}</span>

  <br/>

  <span>You've asked for a password reset.</span>
  <span>follow the link to apply changes:
    <a href={{link}}>{{link}}</a>
  </span>

  <span>If you haven't requested a password rest, please, disconsider this mail.</span>

  <strong>Thank you!</strong>

  <h3><strong>Rentx</strong> | Team</h3>
</div>
  </body>
</html>
